html.sensor-add-post, body.sensor-add-post {
    background: none;
    height: 100%;
    width: 100%;
}

body.sensor-add-post .zindexize {
    z-index: 10 !important;
}

body.sensor-add-post .edit-row {
    margin: 10px 0;
}

body.sensor-add-post .panel {
    margin: 0;
}

.noscroll {
    overflow: hidden;
}

@media (min-width: 280px) {
    #sensor_full_map {
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    #sensor_hide_map_button {
        position: absolute;
        right: 68px;
        top: 10px;
        z-index: -1;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    }

    #mylocation-mobile-button {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: -1;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    }

    #edit {
        padding: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }

    body.sensor-add-post .viewport {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    body.sensor-add-post form.edit .tab-pane {
        padding: 0;
    }

    body.sensor-add-post .alert {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    body.sensor-add-post .leaflet-touch .leaflet-bar a,
    body.sensor-add-post .leaflet-touch .leaflet-bar a:hover,
    body.sensor-add-post .leaflet-bar a,
    body.sensor-add-post .leaflet-bar a:hover {
        width: 52px;
        height: 52px;
        line-height: 52px;
        font-size: 2em;
    }

    form#edit, #sensor_add_gui {
        height: 100%;
        right: 0;
        bottom: 0;
    }

    #sensor_add_gui > .panel {
        min-height: 100%;
    }
}

@media (min-width: 768px) {
    #edit .panel {
        overflow-y: auto;
        height: 100%;
        opacity: .9;
    }

    #edit {
        position: fixed;
        right: 10px;
        z-index: 1000000;
        bottom: 10px;
    }

    #sensor_full_map {
        z-index: 1;
    }

    #sensor_hide_map_button,
    #sensor_show_map_button {
        display: none;
    }

    .viewport {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
    }

    form.edit .tab-pane {
        padding: 20px;
    }

    .alert {
        left: auto;
        position: static;
        top: auto;
        width: auto;
    }
}

@media only screen and (min-width: 500px) {
    body.sensor-add-post .checkbox {
        display: inline-block;
        width: 45%;
    }

    body.sensor-add-post .leaflet-touch .leaflet-bar a,
    body.sensor-add-post .leaflet-touch .leaflet-bar a:hover,
    body.sensor-add-post .leaflet-bar a,
    body.sensor-add-post .leaflet-bar a:hover {
        width: 26px;
        height: 26px;
        line-height: 26px;
        font-size: 1em;
    }

    form#edit, #sensor_add_gui {
        /*height: auto;*/
    }

    #sensor_add_gui > .panel {
        min-height: auto;
    }
}

span.classattribute-description {
    color: #333;
}

@media (max-height: 795px) {
    #add-post-gui {
        z-index: 1400;
    }
}

@media (min-width: 280px) {
    #add-post-gui {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1400;
        background: #fff;
        overflow: auto;
    }

    #add-post-gui #edit {
        right: 0;
        bottom: 0
    }

    #add-post-gui #edit .panel-body {
        height: 100%;
        padding: 45px 25px 25px;
        position: relative;
    }

    #add-post-gui #edit #sensor_add_gui {
        padding: 0;
    }

    #add-post-gui #edit .step-nav {
        margin: 0 0 40px;
    }

    #add-post-gui #edit .step-nav li {
        vertical-align: middle;
        padding: 0 8px 8px 0;
    }

    #add-post-gui #edit .step-nav .nav-item .btn-lg {
        min-width: 48px;
        min-height: 40px;
        font-weight: bold;
        font-size: 10px;
    }

    #add-post-gui #edit .step-nav li.active.nav-item .btn-lg{
        background: #f90f00;
    }
    #add-post-gui #edit .step-nav li.active.nav-item .btn-lg i{
        color: #fff;
    }

    #add-post-gui .upload-button-spinner,
    #add-post-gui .fileinput-button{
        width: 60px;
        height: 60px;
    }

    #add-post-gui .upload-button-spinner i,
    #add-post-gui .fileinput-button i{
        padding: 5px 0;
    }

    #add-post-gui .image-placeholder {
        border: 1px solid #ccc;
        width: 60px;
        height: 60px;
        border-radius: 6px;
        text-align: center;
        background-size: cover;
    }

    #add-post-gui .image-placeholder .fa-trash{
        color: #fff;
        margin: 14px;
        cursor: pointer;
        background: #333;
        padding: 5px;
        border-radius: 5px;
    }

    #add-post-gui #edit .step-nav li .add-icon  {
        font-size: 1.4em;
        z-index: 4;
        position: absolute;
        display: inline-block;
        margin-left: -9px;
        top: 4px;
    }

    #add-post-gui #edit .step-nav li.active .add-icon {
        display: none;
    }

    #add-post-gui .post-privacy {
        padding: 0;
        margin-top: 0;
    }

    #add-post-gui .post-subject{
        margin-bottom: 20px;
    }

    #add-post-gui .post-subject input {
        border: none;
        box-shadow: none;
        font-size: 15px;
        padding: 0 0 5px 0;
        color: #000;
    }

    #add-post-gui .post-content {
        padding: 0 0 20px;
    }

    #add-post-gui textarea {
        border: none;
        box-shadow: none;
        padding: 18px 0 0 0;
        font-size: 15px;
        border-bottom: 1px dotted #ccc;
        margin-bottom: 5px;
        resize: none;
        line-height: 1.5;
        color: #333;
    }

    #add-post-gui .post-send {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #add-post-gui p.lead{
        font-size: 16px;
        margin: 20px 0 10px;
    }
}

@media (min-width: 768px) {
    #add-post-gui {
        top: 126px;
    }

    form#edit, #sensor_add_gui {
        height: auto;
    }


    #add-post-gui #edit .panel-body {
        min-height: 250px;
        padding: 45px 40px 15px;
    }

    #add-post-gui #edit #sensor_add_gui {
        padding: 15px;
    }

    #add-post-gui #edit .step-nav .nav-item .btn-lg {
        min-width: 65px;
        min-height: 59px;
        font-size: 18px;
    }

    #add-post-gui #edit .step-nav li .add-icon {
        font-size: 1em;
        margin-left: -11px;
    }

    #add-post-gui .post-subject{
        margin-bottom: 0;
    }

    #add-post-gui .post-privacy {
        max-width: 100%;
    }

    #add-post-gui .post-privacy i {
        vertical-align: middle;
    }

    #add-post-gui .post-subject {
    }

    #add-post-gui .post-subject input {
        font-size: 21px;
    }

    #add-post-gui .step-part {
        margin: 20px 0 10px;
    }

    #add-post-gui .step-buttons {
        text-align: right;
    }

    #add-post-gui .input-lg {
        height: 43px;
    }

    #add-post-gui textarea {
        font-size: 16px;
    }

    #add-post-gui .post-send {
        font-size: 1.7em;
        font-weight: 600;
    }

    #add-post-gui form#edit{
        max-width: 600px;
    }

    #add-post-gui .upload-button-spinner,
    #add-post-gui .fileinput-button{
        width: 90px;
        height: 90px;
    }

    #add-post-gui .upload-button-spinner i,
    #add-post-gui .fileinput-button i{
        padding: 16px 0;
    }

    #add-post-gui .image-placeholder {
        width: 90px;
        height: 90px;
    }

    #add-post-gui .image-placeholder .fa-trash{
        margin: 25px;
    }
}

@media (max-aspect-ratio: 3/2) {
    #add-post-gui #sensor_add_gui > .panel {
        min-height: 100%;
    }
}

@media (min-aspect-ratio: 8/5) and (max-width: 960px) and (max-height: 600px) {
    #add-post-gui #sensor_add_gui > .panel {
        min-height: 100%;
    }
    form#edit, #sensor_add_gui {
        height: 100%;
        right: 0;
        bottom: 0;
    }
}

#add-post-gui .text-muted {
    color: #333;
}

#add-post-gui .list-group{
    z-index: 10 !important;
}

#add-post-gui #step-geo{
    min-height: 220px;
}

#add-post-gui #step-geo i{
    font-size: 2em;
}

#add-post-gui #post-spinner{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
    opacity: .7;
}
#add-post-gui #post-spinner i{
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 4em;
}

#add-post-gui .form-group{
    margin: 0;
}

.has-float-label {
    display: block;
    position: relative;
    font-weight: normal;
}
.has-float-label label, .has-float-label > span {
    position: absolute;
    left: -1px;
    cursor: text;
    font-size: 90%;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
    top: -.3em;
    z-index: 3;
    line-height: 1;
    padding: 0 1px;
}
.post-subject .has-float-label label,
.post-subject .has-float-label > span{
    top: -1.5em;
}
.has-float-label label::after, .has-float-label > span::after {
    content: " ";
    display: block;
    position: absolute;
    background: white;
    height: 2px;
    top: 50%;
    left: -.2em;
    right: -.2em;
    z-index: -1;
}
.has-float-label .form-control::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.has-float-label .form-control::-moz-placeholder {
    opacity: 1;
    transition: all .2s;
}
.has-float-label .form-control:-ms-input-placeholder {
    opacity: 1;
    transition: all .2s;
}
.has-float-label .form-control::placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder {
    opacity: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder {
    opacity: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder {
    opacity: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus) + * {
    font-size: 150%;
    opacity: .5;
    top: 5px;
}

.input-group .has-float-label {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.input-group .has-float-label .form-control {
    width: 100%;
    border-radius: 0.25rem;
}
.input-group .has-float-label:not(:last-child), .input-group .has-float-label:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
}
.input-group .has-float-label:not(:first-child), .input-group .has-float-label:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#add-post-gui .has-warning .form-control {
    background: #f2dede;
}
#add-post-gui .has-warning .form-control:focus{
    background: none !important;
}